.option_box {
    height: 100%;
    width: 100%;
    background-color: #eaeaeb;
    font-family: "Times New Roman", Times, serif;

    .title_box {
        height: 30px;
        line-height: 30px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-size: 24px;
        font-weight: bolder;
        text-align: center;
    }
}
.el-divider--horizontal {
    margin: 10px 0 5px;
    border-top: 1px solid black;

    .el-divider__text {
        background-color: #eaeaeb;
        padding: 0 5px;
        font-size: 13px;
    }
}
.el-popper.el-select__popper {
    .el-select-dropdown__item {
        height: 24px;
        line-height: 24px;
        font-size: 12px;
    }
}
