.report_type {
    $select_type-height: 28px;
    height: 280px;
    text-align: center;
    font-size: 14px;
    .report_type_select {
        width: calc(100% - 40px);
        height: calc($select_type-height - 2px);
        line-height: calc($select_type-height - 2px);
        margin-top: 7px;
        .el-input {
            height: calc($select_type-height - 2px);
            line-height: calc($select_type-height - 2px);
            .el-input__wrapper {
                padding: 0 8px;
                .el-input__inner {
                    height: calc($select_type-height - 6px);
                    font-size: 12px;
                    border: none;
                }
            }
        }
        .el-input :focus {
            border: none;
        }
    }
    .type_box {
        width: calc(100% - 10px);
        height: calc(100% - 40px);
        margin: 5px 5px;
        #date_type {
            width: 50px;
            height: 24px;
            background-color: transparent;
            position: absolute;
            left: 19px;
            z-index: 1000;
            border-radius: 5px;
            color: #a2a2a2;
        }
    }
}
