.option_box {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    // background-color: #eaeaeb;
    font-family: "Times New Roman", Times, serif;
    // display: none;
    .el-collapse {
        .el-collapse-item {
            .el-collapse-item__header {
                padding: 5px 10px 0;
                height: 30px;
                // border-bottom: 1px solid #c5c5c5;
                background-color: aliceblue;
            }
            .el-collapse-item__wrap {
                // border-bottom: 1px solid #cccccd;
                border-bottom: none;
                .el-collapse-item__content {
                    padding: 15px 0;
                }
            }
        }
    }

    .title_box {
        height: 30px;
        line-height: 30px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-size: 24px;
        font-weight: bolder;
        text-align: center;
    }
    .download_box {
        width: 100%;
        text-align: center;
        .report_name {
            height: 20px;
            line-height: 20px;
            margin-top: 15px;
            text-align: center;
            border: 1px solid #d0d0d0;
            border-radius: 5px;
        }
        .download_btn,
        .print_btn {
            height: 25px;
            line-height: 25px;
            width: calc(100% - 100px);
            background-color: #f0f0f0;
            color: #60627c;
            font-size: 12px;
            border: 1px solid transparent;
            border-radius: 5px;
            margin-top: 10px;
        }
    }
}
.el-divider {
    height: 0px !important;
}
.el-divider--horizontal {
    width: 94% !important;
    margin: 10px 3% 5px !important;
    border-top: 1px solid #9c9c9c !important;

    .el-divider__text {
        background-color: white !important;
        padding: 0 5px !important;
        font-size: 13px !important;
    }
}
.el-popper.el-select__popper {
    .el-select-dropdown__item {
        height: 24px;
        line-height: 24px;
        font-size: 12px;
    }
}
.radio_defined {
    height: 100%;
    text-align: start;

    .radio_box {
        height: 100%;
        float: left;
    }
    .radio_content {
        width: calc(100% - 40px);
        height: 100%;
        margin-left: 10px;
        color: #60627c;
        font-size: 12px;
        float: left;
    }
}
